

/*----------------------------------------------------------
Main Container*/

.main_container{
	display: flex;
	justify-content: center;
	font-size: 1.3rem;
}

.header{
	text-align: center;
}

.main{
	background-color: #0497c4;;
	color: rgb(250, 255, 119);
	border-radius: 1em;
	padding:20px;
	display: flex;
	justify-content: center;
	
}